* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 17px;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0)),
    url(images/xbg_3.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.head1 {
  display: flex;
  padding: 3px;
  padding-left: 8%;
  padding-right: 15%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100;
  height: 7%;
  background-color: blue;
  color: #faf9f6;
}

.head1 p {
  text-transform: uppercase;
}

.navbar-brand {
  color: #000000;
  font-weight: 1000;
  font-size: 30px;
  text-decoration: none;
}

nav {
  display: flex;
  padding: 1% 2%;

  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
}
.container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 12px;
  position: relative;
}

.nav-links ul {
  padding-right: 50px;
}

.nav-links ul li a {
  color: black;
  text-decoration: hotpink;
  font-size: 13px;
  padding-left: 40px;
}
.copy-write {
  color: rgba(0, 0, 0, 0.7);
  align-items: center;
}

.copy-write p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.copy-write a {
  color: blue;
  text-decoration: none;
}
.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: cornflowerblue;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li :hover::after {
  width: 40%;
}
.ab {
  text-align: left;
}
.subheading {
  color: rgb(66, 66, 253);
}
.header-textbox {
  width: 90;
  color: rgb(14, 13, 13);
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
  text-align: left;
  margin-top: 3rem !important;
}
.header-textbox span {
  line-height: 8;
}

.header-textbox h1 {
  font-size: 70px;
  line-height: 0.9;
  font-weight: 950;
}
.header-textbox p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: rgb(102, 100, 100);
  line-height: 1.5;
}

.herobtn {
  display: inline-block;
  text-decoration: none;
  padding: 12px 34px;
  font-size: 13px;
  position: relative;
  border-radius: 5px;
  background-color: red;
}
.appointment-btn {
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #207dff;
  border: none;
  border-radius: 25px;
  padding: 1rem 1.5rem !important;
}

.herobtn:hover {
  border: 1px solid rgb(17, 86, 236);
  background: rgb(10, 59, 221);
  transition: 1s;
}

/*  for second selection      */

.header1 {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-left: 3%;
}

.header1-text {
  color: rgb(14, 13, 13);
  position: absolute;
  top: 50%;
  left: 70%;
  display: inline;
  transform: translate(-50%, -50%);
  text-align: left;
}

.header1-img {
  width: 100%;
  max-width: 490px;
  height: 840px;
  padding-left: 50px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/xabout.png);
  position: relative;
  z-index: 1;
}

.header1-text h1 {
  font-size: 40px;
  text-align: unset;
  line-height: 1.2;
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 1.5rem !important;
}
.header1-text h1 span {
  color: blue;
  line-height: 1.2;
  font-size: 44px;
  font-weight: 700;
}

.header1-text p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: rgb(102, 100, 100);
  line-height: 1.5;
  font-size: 20px;
}

.button-two {
  display: flex;
  justify-content: space-between;
}
.btntwo {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background: #fe5f55 !important;
  border-radius: 25px;
}

.btntwo:hover {
  border: 1px rgb(236, 17, 53);
  background: #fe5f55 !important;
  transition: 1s;
  border-radius: 50%;
}
.btnone {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 25px;
}
.textbox a {
  color: white;
}
.btnone:hover {
  border: 1px solid rgb(17, 174, 236);
  background: rgb(13, 218, 191);
  transition: 1s;
  border-radius: 20%;
}
.header-text a {
  color: white;
}

.header3 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0)),
    url(images/xbg_2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbin {
  text-align: center;
  padding-top: 15%;
}

.textbin h2 {
  color: whitesmoke;
  font-size: 60px;
  text-align: center;
  width: auto;
}
.textbin p {
  margin: 30px 0 40px;
  font-size: 30px;
  color: whitesmoke;
}

.btnthree {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: whitesmoke;
  border: none;
  border-radius: 25px;
}
.textbin a {
  color: black;
}
.btnthree:hover {
  border: 1px solid rgb(236, 17, 53);
  background: rgb(214, 221, 226);
  transition: 1s;
  border-radius: 50%;
}

.our-servis {
  display: none;
}

/* docotooooooooooooo*/

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.doctor {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.doctor-coll {
  flex-basis: 50%;
  border-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
}

.doctor-coll img {
  width: 100%;
  display: block;
  border: white;
}

.doctor-coll span {
  padding: 5%;
  color: blue;
  line-height: 2;
}

.doctor-coll h3 {
  font-size: 25px;
  line-height: 1.5;
}
.doctor-coll p {
  color: grey;
  padding: 2%;
  line-height: 1.5;
}
.doctor-col h2 {
  font-size: 50px;
  padding: 5px;
}

.doctor-col p {
  color: grey;
  padding: 10px;
  font-size: 25px;
  line-height: 1.5;
}

.doctor img:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.doctor-coll:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* fun facts*/

.fun {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(20, 56, 199, 0.7),
      rgba(47, 78, 202, 0.7)
    ),
    url(images/xbg_3.png);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  /* justify-content: space-evenly; */
}

.textbbn {
  width: 90;
  color: rgb(14, 13, 13);
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.textbbn span {
  color: whitesmoke;
  font-size: large;
  padding-left: 5%;
}

.textbbn h2 {
  color: whitesmoke;
  padding: 5%;
  font-size: 40px;
  display: flex;
}

.btnfun {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(185, 24, 24);
  border: none;
  border-radius: 25px;
}

.column {
  width: 20%;
  padding: 50px;
  color: white;
  font-size: 30px;
}

.colim {
  display: flex;
}

.rowin {
  display: flex;
}

.gridfun {
  position: absolute;
  left: 60%;
  top: 20%;
}

/* blog site*/

.blog-s {
  background-color: rgb(243, 240, 240);
}

.blog-col {
  margin: 0px 150px;
  display: flex;
  justify-content: space-between;
}

.blog-coltwo {
  margin-top: 5%;
  display: flex;

  justify-content: space-between;
}

.blogx {
  flex-basis: 30%;
  border-bottom: 10px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
}

.blogx img {
  width: 100%;
  display: block;
  border: white;
}

.blogx img:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.fun-col h2 {
  color: rgb(19, 18, 18);
  padding-left: 30%;
  padding-top: 5%;
  font-size: 40px;
  display: flex;
}

.blogx:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.fun-col p {
  align-items: center;
  color: grey;
  padding-left: 25%;
  padding-top: 20px;
  padding-bottom: 5%;
  font-size: 20px;
}

.datex {
  color: red;
  display: flex;
  padding: 2%;
}
.textblog h3 {
  color: rgb(7, 7, 7);
  padding: 2%;
  font-size: 25px;
}

.textblog p {
  color: grey;
  padding: 2%;
  font-size: 25px;
}

/*  says fun */

.says {
  min-height: 70vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(20, 56, 199, 0.7),
      rgba(47, 78, 202, 0.7)
    ),
    url(images/xbg_3.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.says-sec {
  flex-basis: 30%;
  border-bottom: 10px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
}

.saysf {
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
}

.says-sec img {
  width: 30%;
  display: block;
  margin-left: 150px;
  border-radius: 50%;
  border: white;
  z-index: -1;
}

.says-txt {
  padding: 5%;
  align-items: center;
  color: whitesmoke;
  padding-left: 30%;
}

.says-head {
  align-items: center;
  padding-left: 40%;
  padding-bottom: 8%;
}

.says-head h1 {
  color: whitesmoke;
  font-size: 15px;
  padding-left: 10%;
  padding-top: 10%;
}

.says-head h2 {
  color: whitesmoke;
  font-size: 40px;
  padding-top: 0%;
}

.says-txt .name {
  padding: 20px;
  font-size: 25px;
  color: whitesmoke;
  padding-left: 25%;
}

.says-txt .position {
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
  padding-left: 35%;
}

/* contact us  */

.contact-col h2 {
  color: rgb(19, 18, 18);
  text-align: center;
  font-size: 40px;
  padding-top: 5%;
}

.contact-col p {
  text-align: center;
  color: grey;
  font-size: 20px;
  line-height: 1.5;
}

.texttt {
  display: flex;
  padding: 5%;
}

.says-sec:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.number {
  text-align: center;
  font-size: 44px;
  display: flex;
}
/* ------------contact us ------------------*/

.boxx {
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 50px;
  width: 20%;
  background-color: #faf9f6;
  justify-content: space-between;
}

.boxx h1 {
  font-size: 30px;
  font-weight: 600;
}
.boxx p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding-bottom: 30%;
  color: gray;
  text-align: center;
}

.textt {
  margin: 50px 100px;
  display: flex;
  justify-content: space-between;
}

.boxx:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* form*/

.form-d {
  border-radius: 10px;
  margin-left: 70%;
  border-radius: 10px;
}

.form-group {
  padding-top: 20px;
}
.form-control {
  width: 80%;
  padding: 16px;
  border-radius: 10px;
}

/*---------------------------mapp------------------------------------*/

.mapk {
  width: 1000px;
  height: 650px;
  margin: 5% auto;
  box-shadow: 0px 0px 10px #c8c7d9;
  position: relative;
  display: flex;
}

.map {
  width: 45%;
  float: left;
}

.contact-form {
  width: 53%;
  height: 100%;
  margin-left: 2%;
  float: left;
  background-color: #f8f8fc;
}

.title {
  font-size: 2.5em;

  font-weight: 700;

  margin: 5% 8%;
}

input,
textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  border: 1px solid;
}
.btn-send {
  width: 180px;
  height: 60px;
  font-weight: 700;
  margin: 2% 8%;
  border-radius: 20px;
  text-decoration: none;
  background: #fe5f55 !important;
  border-width: 0;
}
.btn-send:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* ----------------------footer---------------------------*/

.foot1 {
  flex-basis: 44%;
  border-radius: 10px;
  align-items: center;
  padding: 2px 20px;
  cursor: pointer;
  box-sizing: border-box;
  justify-content: space-around;
  margin-right: 10px;
  margin-left: 10px;
}
.foot-r {
  min-height: 50vh;
  background-image: linear-gradient(
      rgba(236, 241, 250, 0.9),
      rgba(248, 250, 252, 0.5)
    ),
    url(images/xdept-1.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.footer {
  display: flex;
}
.list a {
  line-height: 2;
  text-decoration: none;
  color: hsl(215, 100%, 53%);
}

.list ul {
  list-style-type: none;
  padding-top: 30%;
  line-height: 1.5;
}

.list li {
  display: grid;
  grid-template-columns: 20px auto;
  justify-content: start;
  align-items: center;
}

.list li::before {
  content: "";
  font-size: 30px;
  color: hsl(215, 100%, 53%);
}

.margin-y {
  margin: 3rem 25px;
}

.margin-X {
  margin: 1rem 15px;
  line-height: 2;
}
.heading-2 {
  font-size: 30px;
  color: black;
}

.foot1 p {
  line-height: 2;
}
.adress li a {
  text-decoration: none;
  color: hsl(215, 100%, 53%);
}

.adress li {
  color: transparent;
}

/* icons */

.fa-brands {
  color: hsl(215, 100%, 53%);
  padding: 5%;
  background-color: transparent;
  border-radius: 50%;
  line-height: 2;
}
.navbar-menu {
  display: none;
}
.list-doctt {
  display: none;
}
/*------------------------------------media -------------------------------------*/

.toggle-button {
  position: absolute;
  top: 2.5%;
  right: 5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 47px;
  height: 19px;
}

.toggle-button .bar {
  height: 10%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
@media (max-width: 768.98px) {
  .toggle-button {
    display: flex;
    position: absolute;
    top: 1.5%;
    right: 4rem;
    width: 27px;
    height: 19px;
  }

  .container-list-doctt {
    background-color: rgb(245, 241, 241);
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .department-wrap {
    margin: 2px 2px;
    padding: 3% 3%;
    text-align: center;
    border-bottom: 1px solid gainsboro;
  }
  .department-wrap h3 {
    font-size: 29px;
    font-weight: 100;
    line-height: 2;
  }
  .department-wrap p {
    color: #999999;
  }
  .icon span {
    color: blue;
    padding-top: 10%;
    line-height: 2;
  }

  .iframe {
    width: 220%;
    height: 155%;
  }
  .ifm {
    width: 208%;
    height: 60vh;
  }
  .nav-links {
    display: none;
  }
  .head1 {
    display: none;
  }
  .mapk {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: none;
    margin: 0%;
  }
  .map-kk {
    width: 100%;
  }
  .contact-form {
    width: 100%;
    margin-left: 0;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .header-text {
    transform: translate(-8%, -5%);
  }
  .header-textbox h1 {
    display: block;
    font-size: 39px;
    margin-left: 70px;
    line-height: 1.2;
    font-weight: 950;
  }
  .header-textbox {
    transform: translate(-5%, -5%);
    position: relative;
    left: 0;
    top: 0;
  }
  .header-textbox p {
    margin-left: 70px;
    line-height: 1.4;
  }
  span.subheading {
    margin-left: 68px;
    font-size: 21px;
  }

  .header {
    min-height: 80vh;
    width: 100%;
  }
  .header1 {
    min-height: 70vh;
    margin-bottom: 3vh;
  }
  .header1-text h1 {
    font-size: 24px;
  }
  .header1-text h1 span {
    font-size: 24px;
  }
  .header1-text p {
    font-size: 17px;
  }
  .btnone {
    font-size: 13px;
    width: 50%;
  }
  .btntwo {
    font-size: 13px;
    width: 50%;
  }
  .our-servis {
    margin-top: 0vh;
  }

  nav {
    display: flex;
    padding: 3% 2%;
    align-items: center;
    background-color: rgba(5, 5, 5);
  }
  .navbar-brand {
    color: white;
    font-size: 19px;
  }

  .navbar-menu {
    color: rgb(252, 245, 245);
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    top: 1.5%;
    right: 0;
    display: flex;
  }

  .header1-img {
    height: 252px;
    width: 535px;
  }
  .header-text {
    position: fixed;
    top: 15%;
    left: 415px;
  }
  .textbin p {
    margin: 0;
    padding: 20px;
  }
  .footer {
    flex-direction: column;
  }
  .header1-img {
    max-width: 250px;
  }

  .fa-ellipsis {
    display: none;
  }
  .colim {
    flex-direction: column;
  }
  .rowin {
    flex-direction: column;
  }
  .column {
    border-right: 0px solid white;
    border-bottom: 1px solid white;
    width: 72%;
    padding: 14%;
  }
  .column1 {
    border-top: 1px solid white;
    width: 100%;
  }
  .gridfun {
    position: static;
  }
  .fun {
    flex-direction: column;
    width: 100%;
  }
  .textbbn {
    color: rgb(14, 13, 13);
    position: static;
    transform: none;
    margin-top: 100px;
  }
  .header1-text {
    width: 72%;
    transform: translate(-0%, -0%);
    left: 0;
    position: inherit;
  }
  .button-two {
    flex-direction: column;
  }
  .btntwo {
    margin-top: 10px;
  }

  .appointment-btn {
    font-size: 19px;
    cursor: pointer;
    margin: 36px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #207dff;
    border: none;
    border-radius: 25px;
    padding: 1rem 1.5rem !important;
  }

  input,
  textarea {
    width: 0;

    margin: 2% -1%;
  }
  .row {
    flex-direction: column;
  }

  .blog-s {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .says {
    width: 100%;
  }
  .blog-col {
    display: flex;
    flex-direction: column;
  }
  .blog-col {
    margin: 0px 1px;
  }
  .saysf {
    flex-direction: column;
  }
  .textt {
    flex-direction: column;
    margin: 10px 10px;
  }

  .says-head {
    align-items: center;
    padding-left: 20%;
    padding-bottom: 4%;
  }
  .says-sec {
    margin-left: -62px;
  }
  .contt {
    width: 100%;
  }
  .boxx {
    text-align: center;
    margin: 6px 2px;
    padding-top: 50px;
    width: 100%;
    background-color: #faf9f6;
    justify-content: space-between;
  }
  .header3 {
    min-height: 67vh;
    width: 100%;
  }
  .doctor {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .heading-section h2 {
    font-size: 28px;
  }
  .container-servis {
    padding: 30px 20px;
  }
  .our-servis {
    width: 100%;
    background-color: #e4e6e7;
    line-height: 2;
    display: flex;
  }
  .heading {
    font-size: 23px;
    font-weight: 20px;
    margin-bottom: 1rem !important;
    padding-left: 30px;
  }
  .heading-servic {
    font-size: 44px;
    font-weight: 700;
  }
  .servic-s {
    align-items: center;
  }
  .servic-s p {
    color: gray;
    font-size: 16px;
    padding-left: 30px;
  }
  .heading span {
    color: red;
    background-color: rgb(231, 212, 212);
    line-height: 1;
  }

  .form-d {
    border-radius: 10px;
    margin-left: 70%;
    border-radius: 10px;
  }

  .form-group {
    padding: 20px;
  }
  .form-control {
    width: 100%;
    padding: 18px 5px;
    border-radius: 30px;
  }

  .form-no-2 {
    width: 100%;
    background-color: #f3f3fa;
  }
  .form-no-2 h3 {
    font-size: 16px;
    margin-bottom: 30px;
    color: #207dff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
  }
  .appointment-pink-btn {
    font-size: 19px;
    cursor: pointer;
    margin: 36px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #fe5f55 !important;
    border: none;
    border-radius: 25px;
    padding: 1rem 1.5rem !important;
    width: 150px;
  }
  .form-field {
    border-radius: 30px;
  }
  .foot-r {
    width: 100%;
  }
  .map {
    width: 48%;
  }
  .list-doctt {
    display: flex;
    width: 100%;
  }
  .select-wrap {
    padding-left: 1px;
    width: 100%;
  }
}
